@model HotelManagement.Areas.Admin.Models.Account.RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Areas/Admin/Views/Shared/_layout2.cshtml";
}


<div class="row">
    <div class=" col-md-4">
    </div>
    <div class="col-md-4">
        <form asp-controller="Hotel" asp-action="Register" method="post">
            <br /><br /><h4>Create a new account.<br></h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <br />
            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Register</button>
                <a asp-action="Index" asp-controller="Hotel"
                   class="btn btn-default float-right">Back</a>
            </div>
        </form>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
